* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    background-color: #fafafa;
    color: #2c2c2c;
    background-color: #f7f7f7;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo-img {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: block;
}

header h1 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu-href {
    text-decoration: none;
    color: #555;
    font-size: 17px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu-href:hover, .active-href {
    color: #9C8679;
}


h1,
h2,
h3,
.project-title,
.studio-title {
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: normal;
}




.contacts-list {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:30px;
    flex-wrap:wrap;
}

.contact-item {
    display:flex;
    align-items:center;
    gap:12px;

    text-decoration:none;
    color:#2c2c2c;

    font-size:15px;
}


.contact-icon {
    width:42px;
    height:42px;
    border-radius: 50%;
    color:#fff;
    background-color: #9C8679;

    display:flex;
    justify-content:center;
    align-items:center;

    flex-shrink:0;

    transition:.3s;
}

.contact-icon svg {
    width:28px;
    height:28px;
}

.contact-item strong {
    font-size:19px;
    font-weight:normal;
    font-family: "Lora", serif;
    font-style: italic;
}

.contact-item:hover .contact-icon {
    transform:translateY(-3px);
}

.contact-icon {
    transition: .3s;
}



@media (max-width: 650px) {

    header {
        padding: 20px 15px;
    }

    .logo-img {
        max-width: 220px;
    }

    header h1 {
        font-size: 22px;
        margin: 5px 0 0 0;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-wrap: nowrap;

        gap: 8px;

        width: 100%;
        padding: 15px 0;
    }

    .menu-href {
        flex: 1;
        text-align: center;

        font-size: clamp(12px, 2.4vw, 12px);
        white-space: nowrap;
    }


    .contacts-list {
        flex-direction:column;
        align-items:flex-start;
        gap:20px;
    }



    .contact-item {
    gap: 10px;
    font-size: 13px;
}

.contact-item strong {
    font-size: 16px;
}

.contact-icon {
    width: 34px;
    height: 34px;
}

.contact-icon svg {
    width: 18px;
    height: 18px;
}
}